<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/static/css/admin/banUser.css">
</head>
<body>
<div class="container">
    <div class="header">
        <button id="home-button" onclick="window.location.href='/adminHome'">Go to Admin Home</button>
        <input id="keyword" placeholder="Enter keyword" />
        <button id="search-button">Search</button>
    </div>


    <div class="content">
        <div class="main">
            <select id="status-filter">
                <option value="">All Statuses</option>
                <option value="Active">Active</option>
                <option value="Banned">Banned</option>
            </select>
            <select id="sort-filter">
                <option value="">Sort by</option>
                <option value="totalBorrowings">Total Borrowings</option>
                <option value="thisYearBorrowings">This Year's Borrowings</option>
            </select>
            <div id="results">
                <div id="no-files" style="display: none;">
                    <p>No users found for the given keyword.</p>
                </div>
                <div id="item-list"></div>
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/admin/banUser.js"></script>
</body>
</html>
