<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
    <link rel="stylesheet" href="/static/css/user/fileList.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <img src="/static/images/LibraryLogo.png" alt="Logo" />
        </div>
        <div class="header-buttons">
            <button id="search-button" class="icon-button" onclick="toggleSearch()">
                <img src="/static/images/search-icon.png" alt="Search" />
            </button>
            <button onclick="window.location.href='userhome'" class="icon-button">
                <img src="/static/images/home-icon.png" alt="Home" />
            </button>
        </div>
        <div class="search-bar" id="search-bar">
            <input id="keyword" placeholder="Enter keyword" />
            <button id="close-search" class="icon-button" onclick="toggleSearch()">
                <img src="/static/images/close-icon.png" alt="Close" />
            </button>
            <button id="execute-search" class="icon-button" onclick="executeSearch()">
                <img src="/static/images/search-icon.png" alt="Search" />
            </button>
        </div>
    </div>
    <div class="content">
        <div class="aside">
            <div class="refine-results">
                <h2>Refine Results</h2>
                <div class="refine-section">
                    <h3 onclick="toggleList(this)">Series</h3>
                    <ul id="series-filter" class="refine-list">
                        <!-- Series filter options will be populated here -->
                    </ul>
                </div>
                <div class="refine-section">
                    <h3 onclick="toggleList(this)">Publisher</h3>
                    <ul id="publisher-filter" class="refine-list">
                        <!-- Publisher filter options will be populated here -->
                    </ul>
                </div>
                <div class="refine-section" id="year-filter">
                    <h3>Year</h3>
                    <div class="refine-list">
                        <label>
                            <input type="radio" name="yearType" value="range" checked onclick="toggleYearInputs(this.value)"> Range
                        </label>
                        <label>
                            <input type="radio" name="yearType" value="single" onclick="toggleYearInputs(this.value)"> Single Year
                        </label>
                        <div id="yearRange" style="margin: 10px 0;">Year range: - </div>
                        <div id="rangeInputs">
                            <input type="number" id="publishedFrom" placeholder="Year" min="1893" max="2024" step="1">
                            <input type="number" id="publishedTo" placeholder="Year" min="1893" max="2024" step="1">
                        </div>
                        <div id="singleInput" style="display: none;">
                            <input type="number" id="publishedYear" placeholder="Year" min="1893" max="2024" step="1">
                        </div>
                        <button onclick="applyPublishedFilter()">Apply</button>
                        <button onclick="clearPublishedFilter()">Clear</button>
                    </div>
                </div>

                <div class="refine-section">
                    <h3 onclick="toggleList(this)">Databases</h3>
                    <ul id="database-filter" class="refine-list">
                        <!-- Database filter options will be populated here -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div id="results">
                <div id="results-info">
                    <p id="results-count"></p>
                    <div id="active-filters"></div>
                </div>
                <div id="no-files" style="display: none;">
                    <p>No files found for the given keyword.</p>
                </div>
                <div id="item-list"></div>
                <ul id="pagination" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/static/js/config.js"></script>
<script src="/static/js/user/fileList.js" type="module"></script>
</body>
</html>
