<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
    <link rel="stylesheet" href="/css/user/pdf.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
</head>
<body>
<div id="pdfControls">
    <span>Total Canvases: <span id="canvasCount"></span></span>
    <input type="number" id="pageNumberInput" min="1" placeholder="Page #">
    <button id="goToPage">Go</button>
    <input type="text" id="searchText" placeholder="Search Text">
    <button id="searchButton">Search</button>
</div>
<div id="pdfViewer" class="pdf-viewer"></div>
<script src="/js/user/pdf.js"></script>
</body>
</html>
