<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/user/userHome.css">
</head>
<body>
<div class="container">
    <h1 class="my-4 text-center">Books Borrowed by User</h1>
    <div id="books-container">
        <!-- Books will be displayed here -->
    </div>
</div>
<script src="/static/js/user/userHome.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
